<h1>Kõik artiklid</h1>
<div class="articles-list">
    {{#each articles}}
        <article>
            <a href="/article/{{slug}}">{{name}}</a>
            {{#if image}}
                <img src="/images/{{image}}" alt="{{name}}" class="article-image">
            {{/if}}
        </article>
    {{/each}}
</div>
